@charset "UTF-8";

$color_scheme: #181c1f;
$color_primary:#56cbcb;
$color_cool:#f5f6fb;
$c-333: #333;
$c-666: #666;
$c-999: #999;
$borderColorE6: #e6e6e6;
$borderColorEE: #eeeeee;
$borderRadius: 5px;
$static_path: '';
$borderColor: #e6e6e6;


$static_path: 'http://p0mdjahro.bkt.clouddn.com';

