@charset "UTF-8";
@import "./common";
input{
  min-height:0!important;
}
.btn-block {
  left: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  border: none;
  pointer-events: auto;
  width: 100%;
  display: block;
  font-size: 34rpx;
  height: 88rpx;
  line-height: 88rpx;
  border-radius: 0;
  color: #fff;
  &.btn-submit {
    background-color: $color_primary;
    image {
      width: 32rpx;
      height: 34rpx;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10rpx;
    }
  }
}


//index
.index {
  .index_search_bar {
    position: relative;
    padding: 20rpx 24rpx;
    background-color: $color_primary_black;
    .search-box {
      width: 100%;
      height: 58rpx;
      line-height: 58rpx;
      background: #5e6163;
      border-radius: 29rpx;
      font-size: 26rpx;
      color: #fff;
      .text-box {
        text-align: center;
      }
      .iconfont {
        font-size: 30rpx;
        vertical-align: middle;
        margin-right: 10rpx;
      }
      .input-container {
        line-height: 58rpx;
        > view {
          position: relative;
          padding: 0 60rpx;
        }
        input {
          display: block;
          height: 58rpx;
        }
        .icon-sousuo {
          position: absolute;
          color: #ccc;
          left: 24rpx;
          top: 0;
        }

      }

    }

  }

  .index-banner {
    height:380rpx !important;
    //swiper
    .swiper {
      width: 100%;
      height: 380rpx !important;
      image {
        width: 100%;
        //height:100%;
      }
      .wx-swiper-dots.wx-swiper-dots-horizontal {
        margin-bottom: 2rpx;
      }
      .wx-swiper-dot {
        width: 10rpx;
        display: inline-flex;
        height: 10rpx;
        margin-left: 10rpx;
        justify-content: space-between;
        background: #fff;
      }

      .wx-swiper-dot-active {
        width: 26rpx;
        display: inline-flex;
        height: 10rpx;
        justify-content: space-between;
        content: '';
        flex-grow: 1;
        border-radius: 8rpx;
      }
    }
  }

  .index-nav {
    padding: 20rpx 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    .item {
      text-align: center;
      width: 25%;
      image {
        width: 82rpx;
        height: 82rpx;
        margin: 10rpx auto 14rpx auto;
        display: block;
        background: 0 0;
      }
      text {
        display: block;
        font-size: 24rpx;
        color: #666;
        margin-bottom: 10rpx;
      }
    }
  }

  .cells_auto_fill {
    width: 750rpx;
    image {
      width: 100%;
      height: 100%;
      display: block;
      vertical-align: top;
    }
    .item {
      width: 370rpx;
      height: 260rpx;
      margin-right: 10rpx;
      box-sizing: border-box;
      overflow: hidden;
      &:last-child {
        margin-right: 0;
      }
    }
    .body {
      margin-top: 10rpx;
      width: 750rpx;
      height: 260rpx;
    }
  }

  //tongji
  .tongji {
    color: #666;
    width: 100%;
    height: 66rpx;
    font-size: 24rpx;
    background: $color_cool;
    border-bottom: 1rpx solid $borderColorE6;
    > view {
      height: 100%;
      padding: 0rpx 24rpx;
    }
    > text {
      display: inline-block;
    }
    .fr {
      display: inline-block;
      padding: 0 10rpx;
      height: 50rpx;
      line-height: 50rpx;
      background-color: $color_scheme;
      color: #fff;
    }
    .iconfont {
      font-size: 24rpx;
      color: #fff;
      margin-left: 10rpx;
    }
  }

}

.category {
  .slide-nav {
    position: relative;
    width: 100%;
    height: 94rpx;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    .slide {
      float: left;
      width: 85%;
      height: 100%;
      font-size: 30rpx;
      background: #fff;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      padding: 0rpx 24rpx;
      margin: 0 auto;
      .item {
        display: inline-block;
        height:100%;
        .text {
          display: inline-block;
          color: #333;
          padding: 0 24rpx;
          margin-top:28rpx;
          height:40rpx;
          line-height: 40rpx;
          font-size:28rpx;
          font-weight:400;
          color:#999;
        }
        &.on {
          .text {
            color: #fff;
            font-weight:600;
            color:#17B1D5;
          }
        }
      }
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 90rpx;
      height: 94rpx;
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, .2);
      box-shadow: 0 0 40px rgba(0, 0, 0, .2);
      font-size: 44rpx;
      background: #fff;
      color: $c-666;
      display: flex;
      align-items: center;
      justify-content: center;
      .iconfont {
        font-size:40rpx;
      }
    }
  }
  .search-box {
    .input-container {
      background: #fff;
      border-bottom: 1px solid #e1e1e1;
      font-size: 28rpx;
      line-height: 60rpx;
      padding-top: 15rpx;
      padding-bottom: 15rpx;
      >view {
        position: relative;
        padding-left: 70rpx;
        padding-right: 160rpx;
      }
      input {
        display: block;
        height: 60rpx;
      }
      .icon-search {
        position: absolute;
        color: #ccc;
        left: 24rpx;
        top: 0;
      }
      .icon-close {
        position: absolute;
        color: #bfbfbf;
        padding: 10rpx;
        right: 118rpx - 10rpx;
        top: 0 - 10rpx;
      }
      .search-cancel {
        height: 60rpx;
        position: absolute;
        right: 0rpx;
        top: 0rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        text {
          border-left: 1px solid #dfdfdf;
          height: 60rpx;
          padding-left: 33rpx;
          padding-right: 34rpx;
        }
      }
    }
  }
}

//bbs
.bbs {
  .ui-search-bar {
    position: relative;
    padding: 0 40rpx;
    box-sizing: border-box;
    display: flex;
    border-radius:4rpx;
    align-items: center;
    .ui-search-bar__form {
      position: relative;
      flex: 1;
      .ui-search-bar__box {
        background-color: #f7f7f7;
        position: relative;
        padding-left: 20rpx;
        padding-right: 20rpx;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        z-index: 1;
        align-items: center;
        display: flex;
        .ui-icon-search {
          color: #ccc;
          vertical-align: middle;
        }
        .ui-search-bar__input {
          flex: 1;
          display: inline-block;
          padding: 4rpx 0;
          padding-left: 16rpx;
          height: 68rpx;
          border: 0;
          font-size: 28rpx;
          line-height: 68rpx;
          box-sizing: content-box;
          background: transparent;
        }
        .search_input_placeholder_c {
          color: #999;;
          font-size: 28rpx;
        }
        .ui-icon-clear {
          position: absolute;
          top: 0;
          right: 0;
          padding: 0 10rpx;
          line-height: 60rpx;
          font-size: 34rpx;
          color: #666;
        }
      }
    }
    .ui-search-bar__cancel-btn {
      margin-left: 20rpx;
      white-space: nowrap;
      color: $color_primary;
    }
  }
}

//post
.post {
  &-title{
    margin:14rpx 40rpx 0 40rpx;
    border-bottom:1rpx solid #eee;
    padding-bottom:14rpx;
  }
  &-titleInput{
    line-height:40rpx;
    height:40rpx;
    font-size:28rpx;
    color:#222;
  }
  .input-placeholder{
    color:#bbb;
  }
  .textarea-placeholder{
    color:#bbb;
  }
  .textarea-box {
    padding: 30rpx 40rpx;
    .text-content {
      width: 100%;
      height: 178rpx;
      font-size: 28rpx;
      line-height:40rpx;
      color: #222;
    }
  }
  .img-box {
    border-bottom:1rpx solid #eee;
    margin:0 40rpx;
    .item {
      position: relative;
      width: 160rpx;
      height: 160rpx;
      margin-right: 20rpx;
      float: left;
      margin-bottom: 35rpx;
      &:nth-child(4n) {
        margin-right: 0;
      }
      &:nth-last-child(4n) {
        margin-bottom: 0;
      }
      image {
        width: 100%;
        max-height: 100%;
        vertical-align: top;
      }
      .iconfont {
        position: absolute;
        top: -38rpx;
        right: -30rpx;
        color: #ff6565;
        font-size: 35rpx;
        padding: 20rpx;
      }
      .fm{
        position: absolute;
        left:0;top:0;
        background-color: #FD7406;
        color:#fff;
        display: block;
        font-size:28rpx;
        padding:4rpx 10rpx;
      }
    }
  }
}

//my
.my {
  width: 100%;
  height: 100%;
  box-sizing: border-box;;
  image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .user-box {
    padding-bottom:45rpx;
    position: relative;
    color: #fff;
    .user-info {
      text-align: center;
      z-index: 10;
      .userimg {
        width: 160rpx;
        height: 160rpx;
        position: relative;
        margin: 80rpx auto 40rpx auto;
        border-width: 8rpx;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.2);
        .logo {
          width: 140rpx;
          height: 140rpx;
          display: block;
          position: relative;
          z-index: 100;
          border-radius:50%;
          background-repeat:no-repeat;
          background-size:100% 100%;
        }
      }
      .usename {
        height:40rpx;
        font-size:28rpx;
        font-weight:400;
        color:rgba(34,34,34,1);
        line-height:40rpx;
      }
      .com {
        margin-top: 10rpx;
        font-size: 24rpx;
      }
    }
  }
  .card-box {
    background-color: #fff;
    border-radius: 10rpx;
    .row {
      border-bottom: 1rpx solid $borderColorE6;
      &:last-child {
        border-bottom: 0;
      }
      .ico {
        width: 60rpx;
        height: 60rpx;
        display: inline-block;
        vertical-align: middle;
      }
      .col-t {
        margin-left: 20rpx;
        display: inline-block;
        color: #333;
        font-size: 32rpx;
      }
    }
    .extend-box {
      .nav {
        padding: 20rpx 24rpx;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        .item {
          text-align: center;
          width: 25%;
          image {
            width: 42rpx;
            height: 42rpx;
            margin: 20rpx 58rpx;
            display: block;
            background: 0 0;
          }
          text {
            display: block;
            font-size: 24rpx;
            color: #666;
            margin-bottom: 10rpx;
          }
        }
      }
    }
  }
}

//pub-product
.pub-product {
  position: relative;
  padding-bottom: 130rpx;
  .img-box {
    border-bottom: 1rpx solid $borderColorE6;
  }
}

//certification
.certification {
  position: relative;
  padding-bottom: 98rpx;
  .text_box {
    padding: 30rpx 24rpx;
    .Title {
      font-size: 28rpx;
      line-height: 42rpx;
      color: #333;
      width: auto;
      margin-bottom: 24rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
      word-break: break-all;
    }
    .Desc {
      color: #999999;
      font-size: 24rpx;
      line-height: 42rpx;
    }
  }
  .list {
    .item {
      .item-hd {
        display: flex;
        justify-content: space-between;
        margin: 0 24rpx;
        height: 88rpx;
        line-height: 88rpx;
        border-bottom: 1rpx solid $borderColorEE;
      }
      .item-bd {
        padding: 30rpx 24rpx;
        image {
          width: 100%;
          height: 360rpx;
          vertical-align: top;
        }
      }
    }
  }
}

.customer_manage {
  height: 100%;
  background-color: #f5f6fb;
  .list {
    background-color: #fff;
    margin-bottom: 20rpx;
    .item {
      margin-left: 24rpx;
      .hd {
        height: 76rpx;
        line-height: 76rpx;
        text-align: right;
        padding-right: 24rpx;
        border-bottom: 1rpx solid $borderColorE6;
      }
      .bd {
        padding: 25rpx 24rpx 25rpx 0;
        position: relative;
        border-bottom: 1rpx solid $borderColorE6;
        display: flex;
        .pic {
          width: 200rpx;
          height: 150rpx;
          line-height: 150rpx;
          position: relative;
          margin-right: 20rpx;
          text-align: center;
          image {
            width: 100%;
            max-height: 100%;
            vertical-align: top;
          }
        }
        .info {
          flex: 1;
          min-width: 0;
          .namewp {
            font-size: 28rpx;
            height: 46rpx;
            display: flex;
            justify-content: space-between;
            .name {
              color: #333;
              max-width: 65%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .price {
              width: 160rpx;
              color: #ee674c;
              text-align: right;
            }
          }
          .desc {
            font-size: 24rpx;
            color: #999;
            line-height: 32rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }
          .com {
            margin-top: 14rpx;
            font-size: 24rpx;
            color: #999;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
          }
        }
      }
      .foot {
        height: 88rpx;

        padding-right: 24rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .foot-l {
          font-size: 24rpx;
          color: #999;
        }
        .foot-r {
          .btn {
            display: inline-block;
            width: 140rpx;
            height: 48rpx;
            line-height: 48rpx;
            text-align: center;
            color: #666;
            font-size: 28rpx;
            border: 1rpx solid $borderColorE6;
            border-radius: 10rpx;
            margin-left: 20rpx;
            vertical-align: middle;
            &.btn-rz {
              color: $color_primary;
            }
            &.btn-more {
              //font-size:4rpx;
              line-height: 1;
            }
          }
        }
      }
    }
  }
}

//detail
.detail {
  padding-bottom: 100rpx;

  .titleView {
    padding: 24rpx;
    .name {
      font-size: 32rpx;
      color: $c-333;
    }
    .desc {
      font-size: 24rpx;
      color: $c-999;
    }
    .price {
      display: inline-block;
      font-size: 30rpx;
      color: $color_primary_red;
      margin-top: 20rpx;
      position: relative;
      white-space: nowrap;
      .old {
        display: inline-block;
        margin-left: 12rpx;
        font-size: 24rpx;
        color: #999999;
        text-decoration: line-through;
      }
    }
  }

  .descTabsView {
    .tabs {
      width: 100%;
      height: 88rpx;
      font-size: 28rpx;
      color: $c-999;
      border-bottom: 1px solid $borderColorE6;
      .tab {
        box-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-flex: 1;
        display: inline-block;
        height: 100%;
        text-align: center;
        line-height: 88rpx;
        border-right: 1px solid $borderColorE6;
        &:last-child {
          border-right: 0;
        }
        &.on {
          color: $color_primary_red;
        }
      }
    }
    .tabs-views {
      .views {
        .table {
          text-align: left;
          font-size: 28rpx;
          box-sizing: border-box;
          margin: 40rpx 24rpx;
          border: 1rpx solid $borderColorE6;
          .tbody {
            border-color: inherit;
            width: 100%;
            .tr {
              border-top: 1rpx solid $borderColorE6;
              color: $c-999;
              width: 100%;
              &:first-child {
                border-top: 0;
              }
              .th {
                padding: 27rpx 60rpx;
                width: 114rpx;
                word-break: break-all;
                border-right: 1rpx solid $borderColorE6;
                text-align: left;
              }
              .td {
                padding: 27rpx 60rpx;
                width: 342rpx;
                word-break: break-all;
                text-align: left;
              }
            }
          }
        }
        .imgText_list {
          padding: 20rpx 24rpx;
          line-height: 38rpx;
        }
      }
    }
  }

  .product-footer {
    position: fixed;
    width: 100%;
    //height:100rpx;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 32rpx;
    background-color: #fff;
    .a {
      display: inline-block;
      border-top: 1rpx solid $borderColorE6;
      width: 100rpx;
      line-height: 90rpx;
      text-align: center;
      .iconfont {
        padding-top: 1rpx;
        color:#999;
        image {
          width: 47rpx;
          height: 45rpx;
          display: block;
          margin: 0 auto;
        }
        &.on{
          color: $color_primary_red;
        }
      }
    }
    .btn {
      display: inline-block;
      width: 325rpx;
      line-height: 100rpx;
      text-align: center;
      color: #fff;
      &.contactShop {
        background-color: $color_primary;
        button{
          color:#fff;
          height:100%;
          display: initial;
          background-color: $color_primary;
          border: none;
          margin-left: 0 !important;
          margin-right: 0 !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
          line-height: 1 !important;
          border-radius: 0 !important;;
          &::after {
            display: none
          }
        }
      }
      &.buyNow {
        background-color: #27b8b8;
      }
    }
  }
}

//article
.article {
  padding: 0 24rpx;
  .articleIndex-header {
    padding: 30rpx 0;
    .title {
      text-align: center;
      font-size: 36rpx;
      color: #333;
      line-height: 44rpx;
      font-synthesis: style;
    }
    .author-box {
      margin-top: 10rpx;
      font-size: 24rpx;
      color: $c-999;
      line-height: 44rpx;
      .author {
        max-width: 60%;
      }
      .bull {
        margin: 0 12rpx;
      }
    }
  }

}

//order
.order {
  .order_list {
    padding-left: 24rpx;
    .item {
      padding: 24rpx 24rpx 24rpx 0;
      border-bottom: 1rpx solid $borderColorE6;
      .pic {
        width: 200rpx;
        height: 150rpx;
        margin-right: 20rpx;
        image {
          width: 200rpx;
          height: 150rpx;
          display: block;
          vertical-align: top;
        }
      }
      .info {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        height: 150rpx;
        overflow: hidden;
        .title {
          font-size: 28rpx;
          color: $c-333;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .desc {
          position: absolute;
          bottom: 0;
          width: 100%;
          .price {
            color: $color_primary;
            font-size: 32rpx;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          .tag {
            position: absolute;
            right: 0;
            bottom: 0;
            color: $color_scheme;
            font-size: 24rpx;
            padding: 0 20rpx;
            height: 40rpx;
            line-height: 40rpx;
            border: 1rpx solid $color_scheme;
            border-radius: 28rpx;
          }
        }
      }
    }
  }
}

//brief
.brief {
  .banner {
    width: 100%;
    height: 360rpx;
    image {
      width: 100%;
      height: 100%;
      display: block;
      vertical-align: top;
    }
  }

  .com-info {
    padding: 30rpx 24rpx;
    .hd {
      position: relative;
      padding: 30rpx 20rpx;
      font-size: 30rpx;
      color: $c-333;
      &::before {
        left: 0;
        top: 38rpx;
        content: '';
        width: 5rpx;
        height: 30rpx;
        border-radius: 8rpx;
        background-color: $color_scheme;
        position: absolute;
      }
    }
    .bd {
      .p {
        font-size: 28rpx;
        color: $c-999;
        line-height: 44rpx;
      }
      .ScodeImg {
        margin: 0 auto;
        width: 315rpx;
        height: 315rpx;
        border: 1rpx solid $borderColorE6;
        image {
          display: block;
          width: 280rpx;
          height: 280rpx;
          vertical-align: middle;
        }
      }
    }
  }
}

.collect {
  .header_box {
    height: 110rpx;
    border-bottom: 1px solid #eee;
    padding: 24rpx;
    box-sizing: border-box;
    text-align: center;
    .shopnavli {
      //min-width: 4.2*100rpx;
      display: inline-block;
      border: 1px solid $color_scheme;
      border-radius: .29*100rpx;
      .item {
        display: inline-block;
        min-width: 1.7*100rpx;
        .text {
          display: block;
          text-align: center;
          padding: 0 .1*100rpx;
          font-size: .3*100rpx;
          color: $color_scheme;
          text-decoration: none;;
          height: .58*100rpx;
          line-height: .58*100rpx;
        }
        &:first-child {
          .text {
            &.on {
              background-color: $color_scheme;
              color: #fff;
              margin-left: -1px;
              border-radius: .29*100rpx;
            }
          }
        }
        &:last-child {
          .text {
            &.on {
              background-color: $color_scheme;
              color: #fff;
              margin-right: -1px;
              border-radius: .29*100rpx;
            }
          }
        }
      }

    }
  }

}

//update 2018.10.8
$mc:#DC3B00;
.blank10{
  height:10rpx;
  &.f7{
    background:#f7f7f7;
  }
}

.gtitle{
  height:45rpx;
  line-height:45rpx;
  font-size:32rpx;
  padding:30rpx 40rpx;
  color:#222;
  font-weight:bold;
}
.blockImg{
  width:100%;
  height:100%;
  display:block;
}
.recommandProduct{
  &-block{
    padding:0 40rpx;
    padding-bottom:40rpx;
  }
  &-t1{
    height:260rpx;
    width:670rpx;
    margin-bottom:20rpx;
  }
  &-t2Img{
    width:325rpx;
    height:250rpx;
  }
}
.jpProduct-block{
  scroll-view{
    white-space:nowrap;
  }
}
.jpProductItem{
  position:relative;
  &-tag{
    width:64rpx;
    height:24rpx;
    background:url(#{$domain}shopauth64x24.png) 0 0/100% 100% no-repeat;
    position:absolute;
    left:0;
    top:0;
  }
  margin-right:30rpx;
  &:first-child{
    margin-left:40rpx;
  }
  &:last-child{
    margin-right:40rpx;
  }
  width:290rpx;
  box-shadow:0px 4rpx 8rpx 0px rgba(0,0,0,0.04);
  border-radius:6rpx;
  border:1rpx solid rgba(238,238,238,1);
  display:inline-block;
  overflow:hidden;
  height:356rpx;
  margin-bottom:40rpx;
  &-price{
    line-height:48rpx;
  }
  &-pic{
    width:290rpx;
    height:195rpx;
  }
  &-info{
    padding:0 14rpx;
  }
  &-title{
    font-size:24rpx;
    height:33rpx;
    line-height:33rpx;
    overflow:hidden;
    color:#222;
    margin:14rpx 0;
  }
  &-label,&-shop{
    font-size:22rpx;
    color:#999;
  }
  &-num{
    font-size:28rpx;
    color:$mc;
    font-weight:bold;
  }
  &-unit{
    color:$mc;
    font-size:22rpx;
  }
  &-shop{
    line-height:1;
    margin-top:16rpx;
    padding-bottom:13rpx;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
}
.hyNews{
  &-list{
    padding:0 40rpx;
  }
  &-item{
    margin-bottom:50rpx;
  }

}
.hyNewsItem{
  &-pic{
    width:250rpx;
    height:168rpx;
    border-radius:4rpx;
    overflow:hidden;
  }
  &-info{
    margin-left:20rpx;
  }
  &-title{
    font-size:28rpx;
    line-height:40rpx;
    color:#222;
    max-height:80rpx;
    overflow:hidden;
  }
  &-view{
    margin-bottom:12rpx;
    &:before{
      content:'';
      display:inline-block;
      width:28rpx;
      height:21rpx;
      background:url(#{$domain}view28x21.png) 0 0/100% 100% no-repeat;
      margin-right:8rpx;
    }
  }
  &-subinfo{
    font-size:22rpx;
    color:#999;
    line-height:30rpx;
  }
}
.product{
  &-list{
    margin-top:100rpx;
    padding:0 40rpx;
    &.notop{
      margin-top:0;
    }
  }
  &-item{
    border-bottom:1rpx solid #eee;
    padding:40rpx 0;
  }
}
.productItem{
  &-pic{
    width:250rpx;
    height:168rpx;
    position:relative;
    border-radius:5rpx;
    overflow:hidden;
  }
  &-tag{
    width:64rpx;
    height:24rpx;
    background:url(#{$domain}shopauth64x24.png) 0 0/100% 100% no-repeat;
    text-indent:-9999px;
    color:transparent;
    position:absolute;
    left:0;
    top:0;
  }
  &-info{
    margin-left:20rpx;
  }
  &-title{
    font-size:28rpx;
    line-height:40rpx;
    height:40rpx;
    overflow:hidden;
    color:#222;
    font-weight:600;
  }
  &-l2{
    margin-top:12rpx;
  }
  &-price{
    line-height:33rpx;
    font-size:28rpx;
    font-weight:bold;
    color:$mc;
  }
  &-unit{
    font-weight:normal;
    font-size:22rpx;
  }
  &-view{
    margin-left:40rpx;
    color:#999;
    font-size:22rpx;
    line-height:33rpx;
    &:before{
      content:'';
      display:inline-block;
      width:28rpx;
      height:21rpx;
      background:url(#{$domain}view28x21.png) 0 0/100% 100% no-repeat;
      margin-right:8rpx;
    }
  }
  &-l3{
    font-size:24rpx;
    line-height:32rpx;
    color:#666;
    margin-top:10rpx;
    //&:before{
      //content:'';
      //display:inline-block;
      //vertical-align:top;
      //width:32rpx;
      //height:32rpx;
      //background:url(#{$domain}rz32x32.png) 0 0/100% 100% no-repeat;
      //margin-right:10rpx;
    //}
  }
  &-l4{
    margin-top:12rpx;
    font-size:22rpx;
    color:#999;
    line-height:30rpx;
    height:30rpx;
  }
}
.productSelect{
  &-title{
    font-size:42rpx;
    font-weight:600;
    color:#222;
    padding:50rpx 40rpx 40rpx 40rpx;
  }
  &-list{
    padding:0 40rpx;
  }
  &-item{
    padding:52rpx;
    line-height:45rpx;
    border-top:1rpx solid #eee;
    font-size:32rpx;
    position:relative;
    &:last-child{
      border-bottom:1rpx solid #eee;
    }
  }
  &-icon{
    position:absolute;
    right:50rpx;
    top:0;
    bottom:0;
    top:50%;
    transform:translate(50%,-50%);
    &.i1{
      width:44rpx;
      height:44rpx;
      background:url(#{$domain}select-1-44x44.png) 0 0/100% 100% no-repeat;
    }
    &.i2{
      width:50rpx;
      height:48rpx;
      background:url(#{$domain}select-2-50x48.png) 0 0/100% 100% no-repeat;
    }
    &.i3{
      width:49rpx;
      height:49rpx;
      background:url(#{$domain}select-3-49x49.png) 0 0/100% 100% no-repeat;
    }
    &.i4{
      width:36rpx;
      height:46rpx;
      background:url(#{$domain}select-4-36x46.png) 0 0/100% 100% no-repeat;
    }
    &.i5{
      width:51rpx;
      height:43rpx;
      background:url(#{$domain}select-5-51x43.png) 0 0/100% 100% no-repeat;
    }
    &.i6{
      width:46rpx;
      height:56rpx;
      background:url(#{$domain}select-6-46x56.png) 0 0/100% 100% no-repeat;
    }
    &.i7{
      width:63rpx;
      height:31rpx;
      background:url(#{$domain}select-7-63x31.png) 0 0/100% 100% no-repeat;
    }
    &.i8{
      width:64rpx;
      height:26rpx;
      background:url(#{$domain}select-8-64x26.png) 0 0/100% 100% no-repeat;
    }
    &.i9{
      width:33rpx;
      height:47rpx;
      background:url(#{$domain}select-9-33x47.png) 0 0/100% 100% no-repeat;
    }
    &.i10{
      width:52rpx;
      height:46rpx;
      background:url(#{$domain}i10.png) 0 0/100% 100% no-repeat;
    }
    &.i11{
      width:48rpx;
      height:51rpx;
      background:url(#{$domain}select-10-48x51.png) 0 0/100% 100% no-repeat;
    }
  }
}
.bbsNav{
  border-bottom:1rpx solid #eee;
  &-scroll{
    white-space:nowrap;
  }
  &-item{
    &:first-child{
      margin-left:40rpx;
    }
    &:last-child{
      margin-right:40rpx;
    }
    display:inline-block;
    font-size:28rpx;
    color:#999;
    font-weight:400;
    margin-right:50rpx;
    height:40rpx;
    line-height:40rpx;
    padding-top:39rpx;
    padding-bottom:21rpx;
    &.on{
      color:#17B1D5;
      font-weight:600;
    }
  }
}
.bbs{
  &-list{
    padding:10rpx 40rpx 0 40rpx;
  }
}
.bbsItem{
  padding:20rpx 0 20rpx 0;
  border-bottom:1rpx solid #eee;
  &-pic{
    width:250rpx;
    height:168rpx;
  }
  &-info{
    margin-left:20rpx;
  }
  &-title{
    margin-top:2rpx;
    font-size:28rpx;
    color:#222;
    font-weight:600;
    line-height:44rpx;
    max-height:88rpx;
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    &.nohot{
      &:before{
        display:none;
      }
    }
    &:before{
      content:'';
      display:inline-block;
      width:22rpx;
      height:30rpx;
      vertical-align:top;
      position:relative;
      top:5rpx;
      margin-right:10rpx;
      background:url(#{$domain}hot-22x30.png) 0 0/100% 100% no-repeat;
    }
  }
  &-subinfo{
    color:#999;
    font-size:22rpx;
    line-height:30rpx;
  }
  &-view{
    &:before{
      content:'';
      display:inline-block;
      width:28rpx;
      height:21rpx;
      background:url(#{$domain}view28x21.png) 0 0/100% 100% no-repeat;
      margin-right:8rpx;
    }
    margin-bottom:10rpx;
  }
  &.nopic{
    .bbsItem-title{
      margin-bottom:40rpx;
    }
    .bbsItem-view{
      margin-left:40rpx;
    }
  }
}
.myNav{
  padding:0 40rpx;
}
.myNavItem{
  border-bottom:1rpx solid #eee;
  padding:38rpx 0;
  overflow:visible;
  >view{
    overflow:visible;
  }
  &-text{
    font-size:26rpx;
    line-height:37rpx;
  }
  &-arrow{
    width:15rpx;
    height:22rpx;
    background:url(#{$domain}arrow.png) 0 0/contain no-repeat;
  }
  &-subtext{
    font-size:24rpx;
    color:#bbb;
    margin-right:31rpx;
  }
  &-icon{
    width:60rpx;
    &.i1{
      background:url(#{$domain}m1.png) left center/33rpx 35rpx no-repeat;
    }
    &.i2{
      background:url(#{$domain}m2.png) left center/33rpx 39rpx no-repeat;
    }
    &.i3{
      background:url(#{$domain}m3.png) left center/34rpx 34rpx no-repeat;
    }
    &.i4{
      background:url(#{$domain}m4.png) left center/33rpx 29rpx no-repeat;
    }
    &.i5{
      background:url(#{$domain}m5.png) left center/32rpx 33rpx no-repeat;
    }
    &.i6{
      background:url(#{$domain}m6.png) left center/31rpx 34rpx no-repeat;
    }
  }
}
.myAuth{
  padding:0 40rpx;
  &-check{
    margin-top:40rpx;
    font-size:26rpx;
    font-size:#9b9b9b;
    line-height:37rpx;
    label{
      display:block;
      line-height:37rpx;
      height:37rpx;
    }
    checkbox{
      transform:scale(0.6);
      transform-origin:center top;
      position:relative;
      top:5rpx;
      left:-5rpx;
      margin-right:-5rpx;
    }
  }
  &-btn{
    height:98rpx;
    text-align:center;
    background:#17B1D5;
    font-size:34rpx;
    margin-top:90rpx;
    margin-left:-40rpx;
    margin-right:-40rpx;
    color:rgba(255,255,255,1);
    line-height:98rpx;
    border-radius:0;
    &.disabled{
      background:rgba(221,221,221,1);
    }
    &:after{
      display:none;
    }
  }
  &-link{
    color:#576B95;
  }
  &-title{
    font-size:42rpx;
    color:#222;
    line-height:59rpx;
    margin-top:50rpx;
    margin-bottom:20rpx;
    font-weight:600;
  }
}
.formElem{
  padding-top:60rpx;
  &-title{
    font-size:26rpx;
    color:#222;
    line-height:37rpx;
  }
  &-subtitle{
    color:#bbb;
    font-size:24rpx;
  }
  &-option{
    margin-top:30rpx;
    padding-bottom:14rpx;
    border-bottom:1rpx solid #eee;
    textarea{
      font-size:28rpx;
      color:#333;
      width:100%;
    }
  }
  &-input{
    line-height:40rpx;
    height:40rpx;
    font-size:28rpx;
    color:#222;
  }
  &-picker{
    background:url(#{$domain}arrow.png) right center/15rpx 22rpx no-repeat;
  }
  .input-placeholder{
    color:#BBB;
  }
  &-checkbox{
    overflow:hidden;
  }
  &-checkboxItem{
    margin-right:17rpx;
    font-size:26rpx;
    color:#999;
    float:left;
    width:96rpx;
    height:96rpx;
    background:#f9f9f9;
    border-radius:4rpx;
    text-align:center;
    radio{
      display:none;
    }
    &.ison{
      background:rgba(23,177,213,1);
      color:#FFF;
    }
  }
}
.uploadImg{
  width:116rpx;
  height:116rpx;
  float:left;
  margin-right:20rpx;
  position:relative;
  &-wrap{
    height:116rpx;
  }
  &-btn{
    width:116rpx;
    height:116rpx;
    background:url(#{$domain}camera.png?1) 0 0/100% 100% no-repeat;
  }
  &-del{
    width:20rpx;
    height:20rpx;
    background:#000;
    position:absolute;
    right:-10rpx;
    top:-10rpx;
  }
}
.pubproduct{
  padding:0 40rpx;
  &-title{
    font-size:42rpx;
    color:#222;
    line-height:59rpx;
    margin-top:50rpx;
    margin-bottom:20rpx;
    font-weight:600;
  }
}
.fav{
  &-list{
    padding:0 40rpx;
  }
  &-empty{
    padding-top:200rpx;
    background:url(#{$domain}favempty.png) center 200rpx/432rpx 319rpx no-repeat;
    height:319rpx;
  }
}
.favNav{
  overflow:hidden;
  padding:0 40rpx;
  margin-top:50rpx;
  &-item{
    float:left;
    height:37rpx;
    font-size:26rpx;
    color:rgba(153,153,153,1);
    line-height:37rpx;
    margin-right:40rpx;
    &.ison{
      font-size:34rpx;
      color:#222;
    }
  }
}
.statement{
  &-category{
    overflow:hidden;
    margin-top:20rpx;
    border-bottom:1rpx solid #eee;
  }
  &-categoryItem{
    font-size:28rpx;
    color:#999;
    height:80rpx;
    line-height:80rpx;
    width:25%;
    text-align:center;
    &.ison{
      color:#17B1D5;
      font-weight:bold;
    }
  }
  &-list{
    margin-top:50rpx;
    padding:0 40rpx;
  }
  &-item{
    line-height:40rpx;
    margin-bottom:40rpx;
  }
  &-h1{
    max-height:80rpx;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  &-name{
    font-size:28rpx;
    color:#222;
    font-weight:bold;
    display:inline;
  }
  &-action{
    font-size:28rpx;
    color:#222;
    display:inline;
  }
  &-time{
    margin-left:46rpx;
    font-size:24rpx;
    color:#999;
  }
}
.productmanage,.bbsmanage{
  &-list{
    padding:30rpx 40rpx 0 40rpx;
  }
}
.pmItem{
  margin-bottom:40rpx;
  .productItem{
    padding:20rpx 20rpx 30rpx 20rpx;
  }
  &:last-child{
    margin-bottom:0;
  }
  background:rgba(255,255,255,1);
  box-shadow:0px 2rpx 6rpx 0 rgba(0,0,0,0.14);
  border-radius:6rpx;
  &-option{
    padding:20rpx 0;
  }
  &-btn{
    width:140rpx;
    height:50rpx;
    border-radius:6rpx;
    border:1rpx solid rgba(221,221,221,1);
    font-size:26rpx;
    color:#999;
    text-align:center;
    line-height:50rpx;
    margin-right:20rpx;
    &.t2{
      border-color:#17B1D5;
      color:#17B1D5;
    }
  }
}
.bsItem{
  padding:20rpx 20rpx 30rpx 20rpx;
  &-title{
    font-size:28rpx;
    color:#222;
    font-weight:bold;
    line-height:40rpx;
    margin-bottom:10rpx;
  }
  &-desc{
    font-size:24rpx;
    color:#666;
    line-height:37rpx;
  }
  &-view{
    &:before{
      content:'';
      display:inline-block;
      width:28rpx;
      height:21rpx;
      background:url(#{$domain}view28x21.png) 0 0/100% 100% no-repeat;
      margin-right:8rpx;
      vertical-align:top;
      position:relative;
      top:4rpx;
    }
  }
  &-aside{
    margin-top:14rpx;
    font-size:22rpx;
    color:#999;
    line-height:30rpx;
  }
  &-time{
  }
}
.pDetail{
  &-pic{
    height:450rpx;
    swiper{
      height:450rpx;
    }
  }
  &-price{
    height:47rpx;
    line-height:47rpx;
    padding:20rpx 40rpx;
    border-bottom:1rpx solid #eee;
  }
  &-title{
    font-size:32rpx;
    line-height:45rpx;
    color:#222;
    font-weight:bold;
    margin-top:26rpx;
  }
  &-wrapper{
    padding:0 40rpx;
  }
  &-desc{
    font-size:26rpx;
    line-height:37rpx;
    margin-top:20rpx;
    padding-bottom:30rpx;
  }
  &-np{
    font-size:40rpx;
    color:#DC3B00;
    font-weight:bold;
    display:inline-block;
  }
  &-unit{
    font-weight:normal;
    font-size:26rpx;
  }
  &-op{
    margin-left:35rpx;
    display:inline-block;
    font-size:26rpx;
    color:#999;
    text-decoration:line-through;
  }
  &-infoNav{
    height:60rpx;
    width:660rpx;
    margin:30rpx auto;
    border:1px solid #222;
    border-radius:6rpx;
    overflow:hidden;
  }
  &-nav{
    font-size:26rpx;
    color:#222;
    line-height:60rpx;
    text-align:center;
    &.ison{
      color:#FFF;
      background:#222;
    }
  }
  &-bar{
    bottom:0;
    left:0;
    right:0;
    position:fixed;
    height:98rpx;
    background:rgba(255,255,255,1);
    box-shadow:0px -1rpx 0px 0px rgba(238,238,238,1);
  }
  &-barplaceholder{
    height:98rpx;
  }
  &-btn{
    height:98rpx;
    background:rgba(255,90,95,1);
    font-size:32rpx;
    font-weight:bold;
    color:#FFF;
    text-align:center;
    line-height:98rpx;
    border:0;
    border-radius:0;
    &:after{
      display:none;
    }
  }
  &-o{
    font-size:24rpx;
    color:#bbb;
    text-align:center;
    padding-top:54rpx;
    width:139rpx;
    line-height:1.5;
    &.isfav{
      background:url(#{$domain}isfav.png) center 14rpx/34rpx 34rpx no-repeat;
      position:relative;
      &:after{
        content:'';
        height:46rpx;
        width:1px;
        background:#eee;
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
      }
      &.ison{
        background-image:url(#{$domain}isfav-on.png);
        background-size:32rpx 32rpx;
      }
    }
    &.istel{
      background:url(#{$domain}istel.png) center 14rpx/32rpx 37rpx no-repeat;
    }

    &.isshare{
      background:url(#{$domain}share.png) center 14rpx/31rpx 31rpx no-repeat;
      &:after{
        display:none;
      }
    }
  }
  &-content{
    &.c1{
      padding:40rpx 45rpx;
      border:1rpx solid #f9f9f9;
    }
  }
  &-contentDetail{
    background:#f9f9f9;
    padding:25rpx 23rpx;
  }
  &-contentDetailTitle{
    font-size:28rpx;
    color:#222;
    line-height:40rpx;
    padding:0 0 20rpx 0;
  }
  &-contentDetailContent{
    font-size:28rpx;
    color:#999;
    line-height:40rpx;
  }
  &-param{
    height:90rpx;
    line-height:90rpx;
    padding:0 23rpx;
    font-size:28rpx;
    background:#f9f9f9;
    &.even{
      background:#FFF;
    }
  }
  &-label{
    color:#222;
  }
  &-text{
    color:#999;
  }
}
.bbsDetail{
  &-title{
    padding:40rpx;
    font-size:40rpx;
    line-height:60rpx;
    font-weight:bold;
  }
  &-content{
    margin-top:50rpx;
    margin-bottom:60rpx;
  }
  &-commentTitle{
    padding:50rpx 40rpx 0 40rpx;
    font-size:34rpx;
    color:#222;
    line-height:48rpx;
  }
  &-comment{
    padding-bottom:19rpx;
  }
  &-commentItem{
    border-bottom:1rpx solid #eee;
    margin:0 40rpx;
    padding-top:50rpx;
    &:last-child{
      border-bottom:0;
    }
  }
  &-commentContent{
    padding:26rpx 40rpx 20rpx 90rpx;
    font-size:28rpx;
    line-height:40rpx;
    color:#333;
  }
  &-commentList{
    &.isEmpty{
      padding-top:417rpx;
      font-size:26rpx;
      color:#bbb;
      line-height:37rpx;
      text-align:center;
      padding-bottom:44rpx;
      background:url(#{$domain}nocomment.png) center 60rpx/432rpx 326rpx no-repeat;
    }
  }
}
.editor{
  padding:0 40rpx;
  font-size:28rpx;
  color:#333;
  line-height:47rpx;
}
.userInfo{
  &-info{
    padding:0 40rpx;
    &.iszan{
      padding:0;
    }
  }
  &-pic{
    width:70rpx;
    height:70rpx;
    border-radius:100%;
    overflow:hidden;
    margin-right:20rpx;
  }
  &-name{
    font-size:24rpx;
    color:#666;
    line-height:33rpx;
  }
  &-time{
    font-size:24rpx;
    color:#aaa;
    line-height:28rpx;
    margin-top:9rpx;
  }
  &-view{
    font-size:24rpx;
    color:#999;
    &:before{
      content:'';
      display:inline-block;
      width:28rpx;
      height:21rpx;
      background:url(#{$domain}view28x21.png) 0 0/100% 100% no-repeat;
      margin-right:8rpx;
      vertical-align:top;
      position:relative;
      top:8rpx;
    }
  }
  &-zan{
    font-size:24rpx;
    color:#999;
    &:after{
      content:'';
      display:inline-block;
      width:22rpx;
      height:22rpx;
      background:url(#{$domain}zan.png) 0 0/100% 100% no-repeat;
      vertical-align:top;
      position:relative;
      top:6rpx;
      margin-left:10rpx;

    }
    &.ison{
      color:#17B1D5;
      &:after{
        background:url(#{$domain}zan-on.png) 0 0/100% 100% no-repeat;
      }
    }
  }
}
.commentBar{
  &-placeholder{
    height:90rpx;
  }
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  width:750rpx;
  height:98rpx;
  background:rgba(255,255,255,1);
  box-shadow:0px 0px 4rpx 0px rgba(0,0,0,0.1);
  box-sizing:border-box;
  &-input{
    padding:20rpx 0;
    input{
      height:58rpx;
      width:453rpx;
      box-sizing:border-box;
      margin-left:22rpx;
      border-radius:4rpx;
      background:rgba(247,247,247,1);
      font-size:24rpx;
      color:#333;
      padding:0 14rpx;
    }
  }
  .input-placeholder{
    color:#999;
  }
  &-b1,&-b2{
    font-size:24rpx;
    color:#bbb;
    text-align:center;
    padding-top:54rpx;
    line-height:44rpx;
    width:139rpx;
    &:after{
      display:none;
    }
    &.isfav{
      background:url(#{$domain}isfav.png) center 14rpx/34rpx 34rpx no-repeat;
      position:relative;
      &:after{
        content:'';
        height:46rpx;
        width:1px;
        background:#eee;
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
      }
      &.ison{
        background-image:url(#{$domain}isfav-on.png);
        background-size:32rpx 32rpx;
      }
    }
    &.isshare{
      background:url(#{$domain}share.png) center 14rpx/31rpx 31rpx no-repeat;
    }
  }
}
.dialog{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:99;
  bottom:0;
  background:#FFF;
  &-content{
    padding-top:515rpx;
    margin:0 195rpx;
  }
  &-item{
    width:120rpx;
    padding-top:150rpx;
    &.i1{
      background:url(#{$domain}o1.png) center top/120rpx 120rpx no-repeat;
    }
    &.i2{
      background:url(#{$domain}o2.png) center top/120rpx 120rpx no-repeat;
    }
    font-size:30rpx;
    line-height:1;
    color:#999;
    text-align:center;
  }
  &-close{
    width:85rpx;
    height:85rpx;
    position:absolute;
    bottom:105rpx;
    left:50%;
    transform:translateX(-50%);
    background:url(#{$domain}close.png) center center/45rpx 45rpx no-repeat;
  }
}
.weui-loadmore{
  margin:0 auto;
  height:76rpx;
  line-height:76rpx;
  clear:both;
}
.weui-loadmore-isshort{
  margin-top:-20rpx;
}

.listLoad{
    clear:both;
    background-color:#f5f5f5;
    height:76rpx;
    line-height:76rpx;
    &-text{
        color:#999;
        font-size:28rpx;
        text-align:center;
    }
    &.isover{
    }
    &.islight{
        background:transparent;
    }
}
.indexNavSwiper{
  height:352rpx;
  .index-nav{
  }
  .wx-swiper-dots.wx-swiper-dots-horizontal {
    margin-bottom: 2rpx;
  }
  .wx-swiper-dot {
    width: 10rpx;
    display: inline-flex;
    height: 10rpx;
    margin-left: 10rpx;
    justify-content: space-between;
    background: #ddd;
  }

  .wx-swiper-dot-active {
    width: 26rpx;
    display: inline-flex;
    height: 10rpx;
    justify-content: space-between;
    content: '';
    flex-grow: 1;
    border-radius: 8rpx;
    background:linear-gradient(90deg,rgba(255,144,103,1) 0%,rgba(255,103,29,1) 100%);
  }

}
.category-placeholder{
  height:132rpx;
}
