module.exports = {
  //做多保留几位小数
  cutDecimal: function(num=0, max=2){
    if(num){
      var p = Math.pow(10, max);
      var result = Math.round(num*p)/p
      return result;
    }
    return 0;
  },


  //字符串分割成数组
  split: function(str, mark){
    return str.split(mark)
  },

  //过滤标签
  filterTag: function(str){
    var reg1 = getRegExp('<\/?[^>]*>', 'g')
    var reg2 = getRegExp('[ | ]*\n', 'g')
    if(reg1.test(str)){
      str = str.replace(reg1, '')
    }
    if(reg2.test(str)){
      str = str.replace(reg2, '')
    }
    return str
  },

}