@charset "UTF-8";
@import "../../style/args";

.bbs_list {
  .item {
    padding: 30rpx 24rpx;
    position: relative;
    border-top: 1rpx solid $borderColorE6;
    display: flex;
    .pic {
      width: 220rpx;
      height: 150rpx;
      margin-right: 20rpx;
      image {
        width: 100%;
        max-height: 100%;
        vertical-align: top;
      }
    }
    .info {
      flex: 1;
      .title {
        font-size: 30rpx;
        line-height: 42rpx;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        height: 120rpx;
      }
      .data-box {
        display: flex;
        justify-content: space-between;
        .time-box {
          font-size: 24rpx;
          color: #999;
        }
        .icon-box {
          .dot {
            padding: 0 6rpx;
          }
          .iconfont {
            color: $color_primary;
            font-size: 30rpx;
            &.icon-zan {
              margin-right: 20rpx;

            }
          }
        }
      }
    }
    &.pictype {
      display: block;
      .title-box {
        font-size: 30rpx;
        line-height: 42rpx;
        color: #333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        margin-bottom: 24rpx;
      }
      .pic-box {
        margin-bottom: 20rpx;
        .img {
          width: 160rpx;
          height: 160rpx;
          margin-right: 21rpx;
          float: left;
          &:last-child {
            margin-right: 0;
          }
          image {
            width: 100%;
            max-height: 100%;
            vertical-align: top;
          }
        }
      }
      .news-info {
        width: 100%;
        dis
        .time-box {
          font-size: 24rpx;
          color: #999;
        }
        .icon-box {
          .dot {
            padding: 0 6rpx;
          }
          .iconfont {
            color: $color_primary;
            font-size: 30rpx;
            &.icon-zan {
              margin-right: 20rpx;

            }
          }
        }
      }
    }
  }
}