@charset "UTF-8";
@import "../../style/args";

.tabBar {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  padding: 0 24rpx;
  height: 98rpx;
  border-top: 1rpx solid $borderColorE6;
  background-color: #fff;
  .item {
    padding-top: 10rpx;
    width: 140rpx;
    display: table;
    text-align: center;
    .cont {
      display: table-cell;
      vertical-align: middle;
      .pic {
        width: 49rpx;
        height: 45rpx;

        display: inline-block;
        image {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      .text {
        font-size: 22rpx;
        color: $c-999;
        &.on {
          color: $color_scheme;
        }
      }
    }
    &.more {
      position: relative;
      .cont {
        position: absolute;
        top: -32rpx;
        .pic {
          width: 144rpx;
          height: 132rpx;
        }
      }
    }
  }
}
